@import url('../scss/common.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.section01 {
    margin-top: 100px;

    .text {
        h4 {
            color: #000;
            font-size: 18px;
            font-weight: 700;
        }

        p {
            color: #515151;
            font-size: 15px;
            font-weight: 400;
        }
    }

    .act__btn_01 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 270px;
        border-radius: 100px;
        left: 750px;
        cursor: pointer;
        z-index: 2;
    }

    .act__btn_02 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 520px;
        border-radius: 100px;
        left: 1170px;
        cursor: pointer;
        z-index: 2;
    }

    .act__btn_03 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 505px;
        border-radius: 100px;
        left: 440px;
        cursor: pointer;
        z-index: 2;
    }

    .active_content {
        position: relative;
    }

    .act__btn_bg {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 265px;
        left: 745px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__btn_bg02 {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 515px;
        left: 1165px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__btn_bg03 {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 500px;
        left: 435px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__text_01 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 275px;
        width: 10%;
        left: 775px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    .act__text_02 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 525px;
        width: 10%;
        left: 1195px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    .act__text_03 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 510px;
        width: 10%;
        left: 465px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    h4 {
        color: tomato;
        font-size: 18px;
        font-weight: 600;
    }

    .name {
        color: #333;
        font-weight: 600;
    }

    .sub {
        color: #a5a4a4;
        font-size: 15px;
    }

    .buy_wrap a {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }
     
 .act_btn_show{
    opacity: 1;
 }

 p {
     margin: 0;
 }

 .imgbox {
     padding: 20px 10px;

     .content {
         border-top: 1px solid #000;
         display: flex;
         justify-content: space-between;

         .txtwrap {
             flex-direction: column;
         }

         .icon {
             width: 40px;
         }
     }
 }

 @keyframes slidein {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0.5;
     }

     100% {
         opacity: 0;
     }
 }
}

.section02{
    margin-top: 100px;
    .col-md-4{
        margin-left: 10%;
        h4{
            color:#000;
            font-size: 18px;
            font-weight: 700;
        }
        p{
            color:#515151;
            font-size: 12px;
            font-weight: 400;
        }
    }
    button{
        border: 1px solid #000;
        border-radius: 30px;
        padding:10px 10px;
        background: none;
        font-size: 13px;
        margin-top: 30px;

    }
    .act__btn_01 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 1270px;
        border-radius: 100px;
        left: 360px;
        cursor: pointer;
        z-index: 2;
    }
    .active_content {
        position: relative;
    }
    .act__btn_bg {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 1266px;
        left: 355px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }
    .act__text_01 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 1275px;
        width: 10%;
        left: 390px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }
     h4 {
        color: tomato;
        font-size: 18px;
        font-weight: 600;
    }

    .name {
        color: #333;
        font-weight: 600;
    }

    .sub {
        color: #a5a4a4;
        font-size: 15px;
    }

    .buy_wrap a {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }
     
 .act_btn_show{
    opacity: 1;
 }

 p {
     margin: 0;
 }

 .imgbox {
     padding: 20px 10px;

     .content {
         border-top: 1px solid #000;
         display: flex;
         justify-content: space-between;

         .txtwrap {
             flex-direction: column;
         }

         .icon {
             width: 40px;
         }
     }
 }

 @keyframes slidein {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0.5;
     }

     100% {
         opacity: 0;
     }
 }
}
    

.section03{
     margin-top: 100px;
    .col-md-4{
        margin-right: 16.5%;
        h4{
            color:#000;
            font-size: 18px;
            font-weight: 700;
        }
        p{
            color:#515151;
            font-size: 12px;
            font-weight: 400;
        }
    }
    button{
        border: 1px solid #000;
        border-radius: 30px;
        padding:10px 10px;
        background: none;
        font-size: 13px;
        margin-top: 30px;

    }
    .act__btn_01 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 2450px;
        border-radius: 100px;
        left: 1130px;
        cursor: pointer;
        z-index: 2;
    }

    .act__btn_02 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 2490px;
        border-radius: 100px;
        left: 1405px;
        cursor: pointer;
        z-index: 2;
    }

    .act__btn_03 {
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        position: absolute;
        top: 505px;
        border-radius: 100px;
        left: 440px;
        cursor: pointer;
        z-index: 2;
    }

    .active_content {
        position: relative;
    }

    .act__btn_bg {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 2445px;
        left: 1125px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__btn_bg02 {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 2485px;
        left: 1400px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__btn_bg03 {
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 500px;
        left: 435px;
        opacity: .3;
        border-radius: 100px;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 1;
    }

    .act__text_01 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 2450px;
        width: 10%;
        left: 1155px;   
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    .act__text_02 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 2510px;
        width: 10%;
        left: 1405px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    .act__text_03 {
        position: absolute;
        background: #fff;
        border-radius: 5px;
        top: 510px;
        width: 10%;
        left: 465px;
        display: none;
        padding: 20px;
        opacity: 0;
        display: flex;
        transition: all 0.3s;
    }

    h4 {
        color: tomato;
        font-size: 18px;
        font-weight: 600;
    }

    .name {
        color: #333;
        font-weight: 600;
    }

    .sub {
        color: #a5a4a4;
        font-size: 15px;
    }

    .buy_wrap a {
        text-align: center;
        text-decoration: none;
        font-size: 20px;
    }
     
 .act_btn_show{
    opacity: 1;
 }

 p {
     margin: 0;
 }

 .imgbox {
     padding: 20px 10px;

     .content {
         border-top: 1px solid #000;
         display: flex;
         justify-content: space-between;

         .txtwrap {
             flex-direction: column;
         }

         .icon {
             width: 40px;
         }
     }
 }

 @keyframes slidein {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0.5;
     }

     100% {
         opacity: 0;
     }
 }
}

.section04{
    margin-top: 100px;
    .col-md-12{
        h4{
            color:#000;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .col-md-3{
        margin-top: 24px;
        p{
            margin:0px;
        }
        .name{
            font-size: 12px;
            font-weight: 700;
        }
        .size{
            font-size: 12px;
            font-weight: 400;
            color:#515151;
            margin-top: 5px;
        }
        .price{
            font-size: 18px;
            font-weight: 700;
                     margin-top: 5px;
        }
    }
}

.section05{
     margin-top: 100px;
     .col-md-12{
        justify-content: space-between;
     }
    .col-md-4{
        margin-right: 16.5%;
        h4{
            color:#000;
            font-size: 18px;
            font-weight: 700;
        }
        p{
            color:#515151;
            font-size: 12px;
            font-weight: 400;
        }
    }
    button{
        border: 1px solid #000;
        border-radius: 30px;
        padding:10px 10px;
        background: none;
        font-size: 13px;

    }
}