@import url('../scss/common.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


.hero-slider {

    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'noto-sans, pretandard, sans-serif';
    }

    h2 {
        line-height: 1.1;
    }

    .container {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
    }

    width: 100%;
    height: 700px;
    display: flex;
    position: relative;
    z-index: 0;

    .swiper-slide {
        overflow: hidden;
        color: #fff;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .slide-inner {
        @extend .swiper-container;
        z-index: 1;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: transparent;
        width: 55px;
        height: 55px;
        line-height: 53px;
        margin-top: -30px;
        text-align: center;
        border: 2px solid #d4d3d3;
        border-radius: 55px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    &:hover {

        .swiper-button-prev,
        .swiper-button-next {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }

    .swiper-button-prev {
        left: 25px;
        transform: translateX(50px);

        &::before {
            font-family: 'math';
            font-size: 15px;
            color: #d4d3d3;
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            font-weight: 900;
        }
    }

    .swiper-button-next {
        right: 25px;
        transform: translateX(-50px);

        &::before {
            font-family: 'math';
            font-size: 15px;
            color: #d4d3d3;
            font-style: normal;
            display: inline-block;
            vertical-align: middle;
            font-weight: 900;
        }
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        font-size: 12px;
        color: #000;
        opacity: 0.3;
        background: #fff;
        transition: all 0.2s ease;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
        max-width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: left;
    }
}

.hero-style {
    height: 850px;
    transition: all 0.4s ease;

    .container {
        @media screen and (min-width: 992px) {
            padding-top: 95px;
        }
    }

    .slide-title,
    .slide-text,
    .slide-btns {
        max-width: 690px;
    }

    .slide-title h2 {
        font-family: math;
        font-size: 50px;
        font-weight: 600;
        line-height: 1;
        color: #FDFCF7;
        margin: 0 0 40px;
        text-transform: capitalize;
        transition: all 0.4s ease;
    }

    .slide-text p {
        opacity: 0.8;
        font-family: math;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.25;
        color: #FDFCF7;
        margin: 0 0 40px;
        transition: all 0.4s ease;
    }

    .slide-btns>a:first-child {
        margin-right: 10px;
    }
}

.theme-btn,
.theme-btn-s2 {
    background-color: #FDFCF7;
    font-family: math;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;
    color: #B4AE97;
    padding: 9px 32px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.4s ease;

    &:hover,
    &:focus,
    &:active {
        background-color: #B4AE97;
        color: #FDFCF7;
    }
}

.theme-btn-s2 {
    background-color: rgba(255, 255, 255, 0.9);
    color: #B4AE97;
}

.theme-btn-s3 {
    font-family: math;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FDFCF7;
    text-transform: uppercase;
}

i.fa-chevron-circle-right {
    height: 22px;
    width: 22px;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
        text-decoration: none;
    }
}

@media (max-width: 991px) {
    .hero-slider {
        height: 600px;
    }

    .theme-btn,
    .theme-btn-s2,
    .theme-btn-s3 {
        font-size: 13px;
        padding: 15px 25px;
    }

    .hero-style {
        height: 600px;

        .slide-title h2 {
            font-size: 50px;
            margin-bottom: 35px;
        }
    }
}

@media (max-width: 767px) {
    .hero-slider {
        height: 500px;

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }
    }

    .theme-btn,
    .theme-btn-s2 {
        padding: 13px 20px;
        font-size: 13px;
    }

    .hero-style {
        height: 500px;

        .slide-title h2 {
            font-size: 35px;
            margin-bottom: 30px;
        }

        .slide-text p {
            font-size: 1rem;
            font-weight: normal;
            margin-bottom: 30px;
        }
    }
}


.section02 {

    html,
    body {
        position: relative;
        height: 100%;
    }

    .swiper {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 413px;
        height: 100%;
        object-fit: cover;
    }

    .nav_btn {
        width: 100px;
        cursor: pointer;
        position: relative;
        top: -350px;
        left: 350px;
        z-index: 9;
    }

    .sec02_swiper-button-prev {
        position: absolute;
    }
}

@media (max-width:1024px) {
    .section02 .nav_btn {
        left: 170px;
    }
}

@media (max-width:768px) {
    .section02 .nav_btn {
        width: 85px;
        top: -340px;
        left: 80px;
    }
}

@media (max-width:540px) {
    .section02 .nav_btn {
        width: 40px;
        top: -115px;
        left: 115px;
    }
}

@media (max-width:430px) {
    .section02 .nav_btn {
        width: 40px;
        top: -170px;
        left: 50px;
    }
}




.section03 {
    overflow: hidden;
    background: var(--light-bg-color);

    ul {
        gap: 50px;
    }

    .d-flex {
        text-align: center;
        margin: 0 auto;

        a {
            color: #181818;
        }
    }

    .text {
        writing-mode: vertical-rl;
        text-align: center;
    }

    .main-text {
        padding-top: 400px;
    }

    .plant3 {
        padding-top: 200px;
    }

    .bg-text {
        position: relative;
        top: -830px;
        left: 230px;

        p {
            font-size: 200px;
            letter-spacing: 2rem;
            color: #181818;
            opacity: .3;
        }
    }

    .bg-text2 {
        position: relative;
        top: -1135px;
        left: 205px;

        p {
            font-size: 200px;
            letter-spacing: 2rem;
            color: var(--middle-bg-color);
            opacity: .7;
        }
    }
}

@media (max-width:1280px) {
    .section03 .bg-text {
        top: -730px;
    }

    .section03 .bg-text2 {
        top: -1035px;
    }
}

@media (max-width:1024px) {
    .section03 {
        .bg-text {
            top: -680px;
            left: 200px;
        }

        .bg-text2 {
            top: -985px;
            left: 175px;
        }

        .main-text {
            padding-top: 330px;
        }
    }
}

@media (max-width:768px) {
    .section03 {
        .bg-text {
            top: -580px;
            left: 200px;

            p {
                font-size: 150px;
            }
        }

        .bg-text2 {
            top: -805px;
            left: 175px;

            p {
                font-size: 150px;
            }
        }

        .main-text {
            padding-top: 250px;
        }
    }

}

@media (max-width:540px) {
    .section03 {
        .col-md-4 {
            padding-top: 32px;
        }

        .bg-text {
            top: -615px;
            left: 0px;
            letter-spacing: 0;

            p {
                font-size: 50px;
            }
        }

        .bg-text2 {
            top: -702px;
            left: 7px;
            letter-spacing: 0;

            p {
                font-size: 50px;
            }
        }

        .main-text {
            padding-top: 100px;
        }

        .plant3 {
            padding-top: 0px;
        }
    }

}

@media (max-width:430px) {
    .section03 {
        .col-md-4 {
            padding-top: 32px;
        }

        .bg-text {
            top: -550px;
            left: 0px;
            letter-spacing: 0;

            p {
                font-size: 30px;
            }
        }

        .bg-text2 {
            top: -560px;
            left: 7px;
            letter-spacing: 0;

            p {
                font-size: 30px;
            }
        }

        .main-text {
            padding-top: 100px;
        }

        .plant3 {
            padding-top: 0px;
        }
    }

}

.section04 {
    font-family: math;
    color: #333;

    .col-md-4 {
        text-align: center;
        padding-top: 300px;

        button {
            color: #333;
            background: none;
            border: 1px solid #333;

            a {
                color: #333;
                padding: 10px;
            }
        }

        h3 {
            font-weight: 700;

        }
    }

}




.section05 {
    width: 100%;

    .bg_img {
        height: 937px;
        background: url('../images/tree.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .main_text {
            text-align: center;
            margin: 0 auto;
            padding: 350px 0;
            color: #fff;
        }

        button {
            color: #fff;
            background: none;
            border: 1px solid #fff;

            a {
                color: #fff;
                padding: 10px;
            }
        }
    }
}

.section06 {
    .next_dark {
        cursor: pointer;
    }
}



.demon{

    .nav-tabs{
        justify-content: center;
        color:#C0BAA1;
    }
    .nav-link{
        color:#6C685A;

    }
    overflow: hidden;
    background: var(--light-bg-color);

    ul {
        gap: 50px;
    }

    .d-flex {
        text-align: center;
        margin: 0 auto;

        a {
            color: #181818;
        }
    }

    .text {
        writing-mode: vertical-rl;
        text-align: center;
    }

    .main-text {
        padding-top: 400px;
    }

    .plant3 {
        padding-top: 200px;
    }

    .bg-text {
        position: relative;
        top: -830px;
        left: 230px;

        p {
            font-size: 200px;
            letter-spacing: 2rem;
            color: #181818;
            opacity: .3;
        }
    }

    .bg-text2 {
        position: relative;
        top: -1135px;
        left: 205px;

        p {
            font-size: 200px;
            letter-spacing: 2rem;
            color: var(--middle-bg-color);
            opacity: .7;
        }
    }
}
@media (max-width:1280px) {
    .section03 .bg-text {
        top: -730px;
    }

    .section03 .bg-text2 {
        top: -1035px;
    }
}

@media (max-width:1024px) {
    .section03 {
        .bg-text {
            top: -680px;
            left: 200px;
        }

        .bg-text2 {
            top: -985px;
            left: 175px;
        }

        .main-text {
            padding-top: 330px;
        }
    }
}

@media (max-width:768px) {
    .section03 {
        .bg-text {
            top: -580px;
            left: 200px;

            p {
                font-size: 150px;
            }
        }

        .bg-text2 {
            top: -805px;
            left: 175px;

            p {
                font-size: 150px;
            }
        }

        .main-text {
            padding-top: 250px;
        }
    }

}

@media (max-width:540px) {
    .section03 {
        .col-md-4 {
            padding-top: 32px;
        }

        .bg-text {
            top: -615px;
            left: 0px;
            letter-spacing: 0;

            p {
                font-size: 50px;
            }
        }

        .bg-text2 {
            top: -702px;
            left: 7px;
            letter-spacing: 0;

            p {
                font-size: 50px;
            }
        }

        .main-text {
            padding-top: 100px;
        }

        .plant3 {
            padding-top: 0px;
        }
    }

}

@media (max-width:430px) {
    .section03 {
        .col-md-4 {
            padding-top: 32px;
        }

        .bg-text {
            top: -550px;
            left: 0px;
            letter-spacing: 0;

            p {
                font-size: 30px;
            }
        }

        .bg-text2 {
            top: -560px;
            left: 7px;
            letter-spacing: 0;

            p {
                font-size: 30px;
            }
        }

        .main-text {
            padding-top: 100px;
        }

        .plant3 {
            padding-top: 0px;
        }
    }

}