@import url('../scss/common.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// header gnb menu
header {
  .container {
    gap: 250px;
    width: 100%;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    z-index: 999;


    .logo h1 {
      font-size: 30px;
      color: #545146;
      font-family: math;
    }

    .nav-bar ul {
      display: flex;
    }

    .hbg {
      display: none;

      .line {
        width: 30px;
        height: 3px;
        background: #545146;
        margin: 6px 0;
      }
    }

    .nav-bar a {
      display: block;
      color: #545146;
      font-size: 18px;
      font-family: math;
      padding: 10px 25px;
      border-radius: 50px;
      transition: all 0.2s;
      margin: 0 5px;
      text-decoration: none;
    }

    .nav-bar ul li a:hover {
      color: #545146;
      background: #fefefe;
    }

    .nav-bar ul li a.active {
      color: #545146;
      background: #fefefe;
    }

    .nav-bar.active {
      height: 100vh;
    }
  }


}

  header {
      position: fixed;
      width: 100%;
      z-index: 1000;
      transition: all 0.3s ease;
    }
    
    /* 섹션1에서는 네비게이션 숨김 */
    .nav-bar {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    /* 섹션2부터 네비게이션 보이기 */
    .nav-visible .nav-bar {
      opacity: 1;
      visibility: visible;
    }


// section01 섹션1
.hero-slider {

  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'math, noto-sans, pretandard, sans-serif';
  }

  h2 {
    line-height: 1.1;
  }

  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 0;

  .swiper-slide {
    overflow: hidden;
    color: #fff;
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }

  .slide-inner {
    @extend .swiper-container;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .swiper-button-prev,
  .swiper-button-next {
    background: transparent;
    width: 55px;
    height: 55px;
    line-height: 53px;
    margin-top: -30px;
    text-align: center;
    border: 2px solid #d4d3d3;
    border-radius: 55px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  &:hover {

    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .swiper-button-prev {
    left: 25px;
    transform: translateX(50px);

    &::before {
      font-family: 'math';
      font-size: 15px;
      color: #d4d3d3;
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      font-weight: 900;
    }
  }

  .swiper-button-next {
    right: 25px;
    transform: translateX(-50px);

    &::before {
      font-family: 'math';
      font-size: 15px;
      color: #d4d3d3;
      font-style: normal;
      display: inline-block;
      vertical-align: middle;
      font-weight: 900;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: #000;
    opacity: 0.3;
    background: #fff;
    transition: all 0.2s ease;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 50px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
  }

  .hero-style {
    height: 937px;
    transition: all 0.4s ease;

    .container {
      @media screen and (min-width: 992px) {
        padding-top: 95px;
      }
    }

  }


  .slide-title,
  .slide-text,
  .slide-btns {
    max-width: 690px;
  }

  .slide-title h2 {
    font-family: math;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    color: #FDFCF7;
    margin: 0 0 40px;
    text-transform: capitalize;
    transition: all 0.4s ease;
  }

  .slide-text p {
    opacity: 0.8;
    font-family: math;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    color: #FDFCF7;
    margin: 0 0 40px;
    transition: all 0.4s ease;
  }

  .slide-btns>a:first-child {
    margin-right: 10px;
  }
}

.scroll-down {
  position: absolute;
  // -webkit-transform: translateX(-50%);
  transform: translate(-50%, -50%);
  left: 50%;
  color: rgba(255, 255, 255, 0.6);
  bottom: 0%;
  font-size: 16px;
  z-index: 10;

  :after {
    background: #ffffff;
    -webkit-animation: cubic-bezier(0.77, 0, 0.175, 1) infinite;
    animation: line-down 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;

  }

  :after {
    content: '';
    width: 1px;
    height: 45px;
    position: absolute;
    right: 50%;
    bottom: 100%;
    margin-bottom: 15px;

  }

  @keyframes line-down {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(5, 0, 2);
      transform: scale3d(5, 0, 2);
      -webkit-transform-origin: center top;
      transform-origin: center top;
    }

    49% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transform-origin: center center;
      transform-origin: center center;
    }

    50% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }

    99% {
      opacity: 0.5;
      -webkit-transform: scale3d(0.5, 0, 1);
      transform: scale3d(0.5, 0, 1);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }

    100% {
      opacity: 0;
      -webkit-transform: scale3d(0.2, 0, 1);
      transform: scale3d(0.2, 0, 1);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  }

  @media (max-width: 991px) {
    .hero-slider {
      height: 600px;
    }

    .theme-btn,
    .theme-btn-s2,
    .theme-btn-s3 {
      font-size: 13px;
      padding: 15px 25px;
    }

    .hero-style {
      height: 600px;

      .slide-title h2 {
        font-size: 50px;
        margin-bottom: 35px;
      }
    }
  }

  @media (max-width: 767px) {
    .hero-slider {
      height: 500px;

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .theme-btn,
    .theme-btn-s2 {
      padding: 13px 20px;
      font-size: 13px;
    }

    .hero-style {
      height: 500px;

      .slide-title h2 {
        font-size: 35px;
        margin-bottom: 30px;
      }

      .slide-text p {
        font-size: 1rem;
        font-weight: normal;
        margin-bottom: 30px;
      }
    }
  }
}


// section02 섹션2
.section02 {
  padding: 50px 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  
  .container{
    .col-md-12{
      p{
        color: #333;
        opacity: .5;
      }
    }
  }
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    /* 슬라이드 내부 컨테이너 */
    .slide-image, .section02__img {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }
  }

  /* 호버 효과 스타일 */
  .section02__img {
    &:hover {
      img {
        transform: scale(1.05);
      }
      
      .hover-content {
        opacity: 1;
        bottom: 0;
        
        h3 {
          transform: translateY(-10px);
        }
        
        .hover-desc {
          max-height: 100px;
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    
    .hover-content {
      position: absolute;
      top: 0;
      left: 0;
      // 없으면 딤 아래에서 위로 올라옴
      width: 100%;
      height: 100%;
      // 이미지 크기와 동일하게 맞추기 
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // flex하고 jc 하단으로 맞추기
      text-align: left;
      opacity: 0;
      padding: 20px;
      backdrop-filter: blur(2px);
      bottom: -100px;
      transition: all 0.5s ease;
      color: #fff;
      
      h3 {
        font-size: 3rem;
        font-family: math;
        margin-bottom: 10px;
        transform: translateY(0);
        transition: all 0.4s ease 0.1s;
      }
      
      .hover-desc {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(40px);
        transition: all 0.5s ease;
        
        p {
          font-size: 1.1rem;
          line-height: 1.4;
        }
      }
    }
  }
}


// section 03 섹션3
.section03 {
  // background: #FAF8EE;
  padding-top: 100px;

  .nav-tabs {
    justify-content: center;
    border: none;
  }

  .nav-tabs .nav-link {
    border: none;
  }

  .nav-tabs .nav-link.active {
    border: none;
  }

  .nav-link {
    color: #6C685A;

  }

  overflow: hidden;

  ul {
    gap: 50px;
  }

  .d-flex {
    text-align: center;
    margin: 0 auto;

    a {
      color: #181818;
    }
  }

  .text_1 {
    position: relative;
    top: -60px;
    left: -50px;
  }

  .text_2 {
    position: relative;
    top: 95px;
    left: -50px;
  }

  .text_3 {
    position: relative;
    top: -880px;
    left: 1250px;
  }

  .main-text {
    padding-top: 400px;
  }

  .img03 {
    padding-top: 200px;
  }

  .img02 {
    height: 70%;
    margin-top: 175px;
  }

  .bg-text {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: -655px;

    p {
      font-size: 180px;
      font-family: math;
      letter-spacing: 2.5rem;
      color: #181818;
      opacity: .7;
      // text-shadow: -10px 10px 1px #D8D1B5;
    }
  }

  $rotationDuration: 20s;
  $hoverDuration: 0.3s;

  $easeIn: cubic-bezier(0.32, 0, 0.67, 0);
  $easeOut: cubic-bezier(0.33, 1, 0.68, 1);

  $textColor: #2B3338;
  $bgColor: #A6B8B1;
  $accentColor: #E8D6C1;

  html,
  body {
    height: 100%;
  }

  body {
    background: $bgColor;
    display: grid;
    place-content: center;
    grid-gap: 2rem;
  }

  .link {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    text-decoration: none;

    &__svg {
      width: 100%;
      height: auto;
      transform-box: fill-box;
      fill: $textColor;
      stroke: $textColor;
      stroke-width: 0.05em;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    &__cloud {
      transform-origin: 50% 50%;
      animation: rotate normal infinite 3 * $rotationDuration linear;
      fill: rgba(255, 255, 255, 0.15);
    }

    &__face,
    &__arrow {
      transform-origin: 50% 50%;
      transition: transform $hoverDuration / 2 $easeIn;

      .link:hover & {
        transform: scale(1.1);
        transition: transform $hoverDuration $easeOut;
      }
    }

    &__arrow {
      stroke-width: 0.075em;
    }

    &__text {
      animation: rotateReverse normal infinite $rotationDuration linear;
      transform-origin: 50% 50%;

      .link:hover & {
        animation-play-state: paused;
      }
    }

    &--alt {
      font-size: 1.15rem;
      letter-spacing: 0;
      word-spacing: 0;
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }

}


// section04 섹션4
.section04 {
  width: 100%;

  .bg_img {
    height: 800px;
    background: url('../images/forest.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .main_text {
      text-align: center;
      margin: 0 auto;
      padding: 282px 0;
      color: #fff;
    }

    button {
      color: #fff;
      background: none;
      border: 1px solid #fff;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  h3 {
    font-weight: 700;
  }



}


// section05 섹션5
.section05 {
  .col-md-12 {
    .d-flex {
      justify-content: space-between;

      img {
        padding: 0 35px 0 10px;
        cursor: pointer;
      }
    }
  }

  .col-md-4 {
    columns: #535353;

    h4 {
      font-size: 16px;
      font-weight: 700;
    }

    p {
      font-size: 12px;
    }

    img {
      cursor: pointer;
    }

    .date {
      opacity: 0.7;
    }
  }

  .next_dark {
    cursor: pointer;
  }
}


// section06 섹션6
// .section06 {
//   .container {
//     .row {

//       &:first-child {
//         .col-md-4 {
//           p {
//             font-family: math;
//             font-size: 24px;
//             color: #333;
//             margin: 0;
//             padding-top: 10px;
//           }

//           h3 {
//             font-family: math;
//             font-size: 60px;
//           }
//         }
//       }

//       .col-md-2 {
//         position: relative;
//         height: 180px;
//         overflow: hidden;

//         img {
//           width: 100%;
//           height: 100%;
//           object-fit: cover;
//           display: block;
//           transition: opacity 0.5s ease;
//         }

//         &::after {
//           content: '';
//           position: absolute;
//           top: 0;
//           left: 0;
//           width: 100%;
//           height: 100%;
//           background: rgba(255, 255, 255, 1);
//           backdrop-filter: blur(2px);
//           opacity: 1;
//           z-index: 1;
//           /* 호버 해제 시 2초 동안 지연 후 서서히 복귀 */
//           transition:
//             opacity 0.5s ease 2s, // 2초 딜레이 후 0.5초 동안 효과
//             backdrop-filter 0.5s ease 2s;
//         }

//         &:hover {
//           &::after {
//             opacity: 0;
//             backdrop-filter: blur(0);
//             /* 호버 시 즉시 반응 (0.5초) */
//             transition:
//               opacity 0.2s ease 0s,
//               backdrop-filter 0.5s ease 0s;
//           }
//         }
//       }
//     }
//   }

  

  .section06 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .section06 .col-md-2 {
    position: relative;
    overflow: hidden;
    // padding: 0 5px;
  }
  
  .instagram-hover {
    position: absolute;
    top: 0;
    // left: 5px;
    // right: 5px;
    bottom: 0;
    background-color: rgba(72, 52, 42, 0.8); /* 모카무스 색상 (약간 어두운 브라운) */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 15px;
    text-align: center;
  }
  
  .section06 .col-md-2:hover .instagram-hover {
    opacity: 1;
  }
  
  .instagram-hover i {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .instagram-hover span {
    font-size: 14px;
    line-height: 1.4;
  }


.footer {
  background-color: #8E8675;
  padding: 50px 0 20px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #e1e1e1;
  border-top: 1px solid #eee;

  .footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 로고 & 주소 영역 */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
  justify-content: space-between;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
}
}


/* 메뉴 & SNS 영역 */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.footer-menu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.footer-menu a {
  color: #e1e1e1;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.footer-menu a:hover {
  color: #000;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social a {
  color: #e1e1e1;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #000;
}

/* 저작권 영역 */
.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #e1e1e1;
}

/* 반응형 (모바일) */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-logo img {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}





// media 반응형 구간
@media (max-width:1280px) {

  // section02 섹션2


  // section03 섹션3
  .section03 {

    .bg-text {
      top: -580px;
    }

    .bg-text p {
      font-size: 150px;
    }
  }

  .section05 {
    .col-md-12 .d-flex img {
      padding: 0 0 0 10px;
    }

  }

}

@media (max-width:1024px) {
.section02 {
  .section02__img .hover-content .hover-desc p {
    font-size: 0.9rem;
  }}

  // section03 섹션3
  .section03 {
    .bg-text {
      top: -500px;
    }

    .bg-text p {
      font-size: 110px;
    }

    .main-text {
      padding-top: 330px;
    }
  }
}

@media (max-width:768px) {
  header {
    .container {
      padding: 0 55px;

      .hbg {
        display: block;
        cursor: pointer;

        .line {
          background: #efefef;
          margin: 6px 0;
        }
      }

      .nav-bar {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0;
        background: #fefefe;
        transition: all 0.2s;
        overflow: hidden;
        
        ul {
            opacity: 0;
            display: block;
            width: fit-content;
            margin: 80px auto 0 auto;
            text-align: center;
            transition: all 0.5s;
            padding: 0;
            li a{
              color: #545146;
              background: #fff;
            }
          }
        }

        .active ul {
          opacity: 1;
        }
    }
  }

  //section02 섹션2
  .section02 {
    .section02__img .hover-content .hover-desc p {
      font-size: 1.1rem;
    }
  }

  // section03 섹션3
  .section03 {
    .bg-text {
      top: -400px;

      p {
        font-size: 90px;
      }
    }

    .main-text {
      padding-top: 250px;
    }
  }
}

@media (max-width:540px) {
  // section02 섹션2
    .section02 {
      .section02__img .hover-content .hover-desc p {
        font-size: 0.75rem;
      }
  
      .section02__img .hover-content h3 {
        font-size: 2rem;
      }
    }
  
  
  
    .section03 {
      .col-md-4 {
        padding-top: 32px;
      }
  
      .bg-text {
        top: -495px;
        letter-spacing: 0;
  
        p {
          font-size: 50px;
        }
      }
  
      .main-text {
        padding-top: 100px;
      }
  
      .img02 {
        height: 100%;
        margin: 0;
        padding-left: 0px;
  
      }
  
      .img03 {
        padding-top: 0px;
      }
  
      .text_3 {
        top: -1170px;
        left: 280px;
      }
  
      .link {
        width: 8rem;
      }
    }
  
    // section05 섹션5
    .section05 .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
  
      /* 카드 사이 간격 */
      .img_section img {
        width: 100%;
        height: auto;
        display: block;
      }
  
      .row {
        flex-direction: column;
      }
  
      .d-flex p {
        margin-top: 10px;
      }
    }
  // section06 섹션6
    .section06 {
      .col-md-2 {
        width: 25%;
      }
    }
  }
@media (max-width:430px) {
  .section02 {
    .col-md-12 h4 {
      font-size: 19px;
    }
  }

  .section03 {
    .col-md-4 {
      padding-top: 32px;
    }

    .bg-text {
      top: -505px;
      letter-spacing: 0;

      p {
        font-size: 45px;
      }
    }

    .text_3 {
      top: -1170px;
      left: 275px;
    }

    .img02 {
      height: 100%;
      margin: 0;
      padding: 0px;
    }

    .main-text {
      padding-top: 100px;
    }

    .plant3 {
      padding-top: 0px;
    }
  }

  .section04 {
    .main_text p {
      font-size: 15px;
    }
  }
}

@media (max-width:390px) {
  .section02 {
    .hover-content h3 {
      font-size: 1.5rem;
    }

    .hover-content p {
      font-size: .5rem;
    }
  }

  .section03 {

    .bg-text {
      left: 50%;

      p {
        font-size: 45px;
      }
    }
  }
}
