@charset "UTF-8";
@import url("../scss/common.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
.section01 {
  margin-top: 100px;
}
.section01 .text h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.section01 .text p {
  color: #515151;
  font-size: 15px;
  font-weight: 400;
}
.section01 .act__btn_01 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 270px;
  border-radius: 100px;
  left: 750px;
  cursor: pointer;
  z-index: 2;
}
.section01 .act__btn_02 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 520px;
  border-radius: 100px;
  left: 1170px;
  cursor: pointer;
  z-index: 2;
}
.section01 .act__btn_03 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 505px;
  border-radius: 100px;
  left: 440px;
  cursor: pointer;
  z-index: 2;
}
.section01 .act__btn_bg {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 265px;
  left: 745px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section01 .act__btn_bg02 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 515px;
  left: 1165px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section01 .act__btn_bg03 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 500px;
  left: 435px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section01 .act__text_01 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 275px;
  width: 10%;
  left: 775px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section01 .act__text_02 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 525px;
  width: 10%;
  left: 1195px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section01 .act__text_03 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 510px;
  width: 10%;
  left: 465px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section01 h4 {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
.section01 .name {
  color: #333;
  font-weight: 600;
}
.section01 .sub {
  color: #a5a4a4;
  font-size: 15px;
}
.section01 .buy_wrap a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.section01 .act_btn_show {
  opacity: 1;
}
.section01 p {
  margin: 0;
}
.section01 .imgbox {
  padding: 20px 10px;
}
.section01 .imgbox .content {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.section01 .imgbox .content .txtwrap {
  flex-direction: column;
}
.section01 .imgbox .content .icon {
  width: 40px;
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.section02 {
  margin-top: 100px;
}
.section02 .col-md-4 {
  margin-left: 10%;
}
.section02 .col-md-4 h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.section02 .col-md-4 p {
  color: #515151;
  font-size: 12px;
  font-weight: 400;
}
.section02 button {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 10px;
  background: none;
  font-size: 13px;
  margin-top: 30px;
}
.section02 .act__btn_01 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 1270px;
  border-radius: 100px;
  left: 360px;
  cursor: pointer;
  z-index: 2;
}
.section02 .active_content {
  position: relative;
}
.section02 .act__btn_bg {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 1266px;
  left: 355px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section02 .act__text_01 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 1275px;
  width: 10%;
  left: 390px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section02 h4 {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
.section02 .name {
  color: #333;
  font-weight: 600;
}
.section02 .sub {
  color: #a5a4a4;
  font-size: 15px;
}
.section02 .buy_wrap a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.section02 .act_btn_show {
  opacity: 1;
}
.section02 p {
  margin: 0;
}
.section02 .imgbox {
  padding: 20px 10px;
}
.section02 .imgbox .content {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.section02 .imgbox .content .txtwrap {
  flex-direction: column;
}
.section02 .imgbox .content .icon {
  width: 40px;
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.section03 {
  margin-top: 100px;
}
.section03 .col-md-4 {
  margin-right: 16.5%;
}
.section03 .col-md-4 h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.section03 .col-md-4 p {
  color: #515151;
  font-size: 12px;
  font-weight: 400;
}
.section03 button {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 10px;
  background: none;
  font-size: 13px;
  margin-top: 30px;
}
.section03 .act__btn_01 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2450px;
  border-radius: 100px;
  left: 1130px;
  cursor: pointer;
  z-index: 2;
}
.section03 .act__btn_02 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 2490px;
  border-radius: 100px;
  left: 1405px;
  cursor: pointer;
  z-index: 2;
}
.section03 .act__btn_03 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 505px;
  border-radius: 100px;
  left: 440px;
  cursor: pointer;
  z-index: 2;
}
.section03 .active_content {
  position: relative;
}
.section03 .act__btn_bg {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 2445px;
  left: 1125px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section03 .act__btn_bg02 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 2485px;
  left: 1400px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section03 .act__btn_bg03 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 500px;
  left: 435px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section03 .act__text_01 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 2450px;
  width: 10%;
  left: 1155px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section03 .act__text_02 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 2510px;
  width: 10%;
  left: 1405px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section03 .act__text_03 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 510px;
  width: 10%;
  left: 465px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section03 h4 {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
.section03 .name {
  color: #333;
  font-weight: 600;
}
.section03 .sub {
  color: #a5a4a4;
  font-size: 15px;
}
.section03 .buy_wrap a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.section03 .act_btn_show {
  opacity: 1;
}
.section03 p {
  margin: 0;
}
.section03 .imgbox {
  padding: 20px 10px;
}
.section03 .imgbox .content {
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.section03 .imgbox .content .txtwrap {
  flex-direction: column;
}
.section03 .imgbox .content .icon {
  width: 40px;
}
@keyframes slidein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.section04 {
  margin-top: 100px;
  /* Swiper 슬라이드 내 이미지 컨테이너 스타일 */
}
.section04 .col-md-12 h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.section04 .col-md-12 {
  margin-top: 24px;
}
.section04 .col-md-12 p {
  margin: 0px;
}
.section04 .col-md-12 .name {
  font-size: 12px;
  font-weight: 700;
}
.section04 .col-md-12 .size {
  font-size: 12px;
  font-weight: 400;
  color: #515151;
  margin-top: 5px;
}
.section04 .col-md-12 .price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
}
.section04 .hover-slide {
  position: relative;
}
.section04 .hover-slide .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.section04 .hover-slide:hover .default-img {
  opacity: 0;
}
.section04 .hover-slide:hover .hover-img {
  opacity: 1;
  transform: translateY(20px);
}
.section04 .swiper-slide img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.section05 {
  margin-top: 100px;
}
.section05 .col-md-12 {
  justify-content: space-between;
}
.section05 .col-md-12 h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.section05 .col-md-12 p {
  color: #515151;
  font-size: 12px;
  font-weight: 400;
}
.section05 button {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 10px 10px;
  background: none;
  font-size: 13px;
  align-self: center;
}
.section05 .act__btn_01 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 3755px;
  border-radius: 100px;
  left: 675px;
  cursor: pointer;
  z-index: 2;
}
.section05 .act__btn_02 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 4200px;
  border-radius: 100px;
  left: 840px;
  cursor: pointer;
  z-index: 2;
}
.section05 .act__btn_03 {
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: 4200px;
  border-radius: 100px;
  left: 1240px;
  cursor: pointer;
  z-index: 2;
}
.section05 .act__btn_bg {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 3750px;
  left: 670px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section05 .act__btn_bg02 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 4195px;
  left: 835px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section05 .act__btn_bg03 {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 4195px;
  left: 1235px;
  opacity: 0.3;
  border-radius: 100px;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.section05 .act__text_01 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 3760px;
  width: 10%;
  left: 700px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section05 .act__text_02 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 4215px;
  width: 10%;
  left: 655px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section05 .act__text_03 {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 4200px;
  width: 10%;
  left: 1260px;
  display: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  transition: all 0.3s;
}
.section05 h4 {
  color: tomato;
  font-size: 18px;
  font-weight: 600;
}
.section05 .name {
  color: #333;
  font-weight: 600;
}
.section05 .sub {
  color: #a5a4a4;
  font-size: 15px;
}
.section05 .buy_wrap a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.section05 .act_btn_show {
  opacity: 1;
}

.section06 {
  margin-top: 100px;
}
.section06 .col-md-8 {
  padding: 0;
  width: 64%;
}
.section06 .col-md-4 {
  padding: 0;
  background: #FAF8EE;
  border-radius: 0 20px 20px 0;
  width: 35%;
}
.section06 .col-md-4 p {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5%;
}
.section06 .col-md-4 p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.section06 .text {
  flex-direction: column;
  justify-content: center;
}
.section06 button {
  background: none;
  border: none;
}/*# sourceMappingURL=galle.css.map */